link_to_undo = "<a title='Undo' class='undo-link' data-remote='true' rel='nofollow' data-method='patch' href='/todos/<%= @todo.id %>/undo''> <i class='fa fa-times' aria-hidden='true'></i></a>"
$("#todo-<%= @todo.id%>").remove()
$(".completed-todos").append("<li id='todo-<%= @todo.id %>'>" + link_to_undo + " <%= @todo.description %></li>")
