<div class="grid-x align-middle">
  <div class="auto cell">
    <h2>New Todo</h2>
  </div>
  <div class="shrink cell ">
    <%= link_to "Back", todos_path, class: "button" %>
  </div>
</div>

<%= render "form" %>
