<%= simple_form_for @post, html: { class: "post-form" } do |f| %>
  <%= f.input :title %>
  <%= f.input :content, as: :ckeditor %>
  <div class="grid-x align-center">
    <div class="cell small-6">
      <%= f.button :submit, class: "expanded success" %>
    </div>
  </div>
<% end %>
