.canvas-menu {
  a {
    font-weight: $global-weight-bold;
    color: $black;
  }
}

footer {
  background-color: #4265A5;
  color: $white;
  padding-top: $global-padding;
  padding-bottom: $global-padding;
  a {
    color: $white;
  }
}

.topbar-logo {
  max-height: 5vh;
}

header {
  background-color: $tiffany-blue;
  color: $black;
  padding-top: $global-padding * 0.5;
  padding-bottom: $global-padding * 0.5;
}
