// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  margin-bottom: $global-margin * 2;
  background-color: $white;
  padding: $global-padding;
  border: 1px solid $gray;
}

.archives {
  a {
    color: $black;
    padding: 1.25rem 0;
  }
  &-post-link {
    color: $primary-color !important;
  }
}

.post-form {
  input[name="post[title]"] {
    margin: 0;
  }
  .post_content, input[type=submit] {
    margin-top: $global-margin;
  }
}

.post-title {
  margin: 0;
}

.post-content {
  margin-bottom: $global-margin * 2;
}
