// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  margin: $global-margin $global-margin $global-margin * 2;
  background-color: $white;
  padding: $global-padding;
  border: 1px solid #bacdf0;
  hr {
    border-bottom: 1px solid #bacdf0;
  }
}
