.ql-font span[data-label="Arial"]::before {
  font-family: "Aref Ruqaa";
}

.ql-font span[data-label="Helvetica"]::before {
  font-family: "Aref Ruqaa";
}

.ql-font-arial {
  font-family: "Arial";
}

.ql-font-helvetica {
  font-family: "Helvetica";
}