// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pending-todos, .completed-todos {
	list-style-type: none;
	list-style-position: outside;
	li {
		font-size: 1.2rem;
		margin-left: -$global-margin;
	}
}

.done-link {
	color: $success-color;
}

.undo-link {
	color: $alert-color;
}