<footer>
  <div class="grid-x grid-padding-x align-center">
    <div class="container">
      <div class="grid-x">
        <div class="small-6 cell">
          &copy; <%= Date.current.year%> Sean Yeoh
        </div>
        <div class="small-6 cell text-right">
          <a href="https://github.com/sean-yeoh">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
