<ul class="vertical menu canvas-menu">
  <li>
    <a class="text-right" aria-label="Close menu" data-close>
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  </li>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "New Post", new_post_path %></li>
</ul>
